@import url("https://fonts.googleapis.com/css?family=Kreon");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat");
html {
  min-height: 100%;
  position: relative; }

body {
  font-family: "Montserrat", "Inconsolata";
  background-color: #586075;
  margin: 0;
  margin-bottom: 60px;
  padding: 0; }

button:focus, button:active,
a:focus, a:active,
input:focus, input:active,
textarea:focus, textarea:active {
  outline: none !important;
  box-shadow: none !important; }

.form-control {
  background-color: #CDD4D9; }

.form-control:focus {
  background-color: #99A1AE;
  color: #000000;
  border-color: #ffffff; }

.form-group label {
  color: #99A1AE; }

.show-case {
  background: url("../assets/IMG/keyboard.jpeg");
  padding: 10% 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .show-case {
      padding: 15% 0; } }
  @media screen and (max-width: 992px) {
    .show-case {
      padding: 20% 5%; } }

.showcase-text h1 {
  margin: 0 10%;
  padding: 2%;
  border-radius: 5px;
  font-weight: bolder;
  color: #e6e6e6;
  background: rgba(79, 87, 89, 0.5); }
  @media screen and (max-width: 992px) {
    .showcase-text h1 {
      margin: 0; } }
  @media screen and (max-width: 450px) {
    .showcase-text h1 {
      font-size: 1.8em; } }

.section-header {
  font-size: 2em;
  text-align: center;
  color: #CDD4D9; }
  @media screen and (max-width: 768px) {
    .section-header {
      margin-left: 0; } }

.section-sm-header {
  font-size: 20px; }

@media screen and (max-width: 992px) {
  .about-me {
    float: none;
    text-align: center; } }
.about-us-content {
  line-height: 60px;
  font-size: 20px; }
  @media screen and (max-width: 992px) {
    .about-us-content {
      line-height: 40px; } }

.contact-social .contactSocialLink i.fa {
  color: #586075;
  transition-duration: 0.4s; }

.contact-social .conntectSocialText {
  color: #586075;
  transition-duration: 0.4s; }

.contact-social .contactSocialLink {
  text-decoration: none;
  color: #000000; }
  .contact-social .contactSocialLink:hover .card-body {
    background-color: #858f9e; }
  .contact-social .contactSocialLink:hover i.fa, .contact-social .contactSocialLink:hover .conntectSocialText {
    color: #373c49; }

.contactSocialLink .card-body {
  box-shadow: 0px 0px 5px; }

.stack-icons i {
  margin: 25px; }

.characterCount {
  color: #CDD4D9;
  float: right; }

.contact {
  overflow: hidden; }

.my-image {
  width: 75px;
  margin-left: 10px; }

.navbar {
  background-color: #99A1AE;
  padding: 0; }

.navbar-toggler {
  background-color: none;
  border: none;
  margin-right: 10px; }

.nav-link {
  cursor: pointer; }

.toggle {
  font-size: 40px; }

.fa.fa.bars {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition-duration: 0.4s; }

.rotate90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition-duration: 0.4s; }

.unRotate90 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition-duration: 0.4s; }

.navbar-name {
  font-family: "Kreon";
  font-size: 30px; }

.navbar-nav {
  margin-right: 10px; }

.navbar-nav li {
  float: right;
  font-family: "Montserrat", "Inconsolata";
  font-size: 20px; }
  .navbar-nav li a {
    color: #586075;
    border-bottom: 4px solid #99A1AE;
    padding-bottom: 10px;
    transition-duration: 0.4s; }
    .navbar-nav li a:hover {
      font-weight: 10px;
      color: #586075;
      border-bottom: 4px solid #586075; }

@media screen and (max-width: 992px) {
  .navbar ul.navbar-nav {
    padding-bottom: 10px; }

  .navbar-nav li {
    text-align: center; }
    .navbar-nav li a {
      padding-bottom: 10px; }

  .navbar-nav {
    margin-right: 0px; } }
@media screen and (max-width: 768px) {
  .my-image {
    width: 55px; }

  .toggle {
    font-size: 25px; }

  .navbar-name {
    font-size: 25px; } }
.container-fluid {
  margin: 0;
  padding-top: 4%;
  padding-bottom: 4%;
  padding: 0;
  overflow: hidden; }

.container {
  padding: 0 5%; }
  @media screen and (min-width: 576px) {
    .container {
      padding: 0; } }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0 5%; } }
  @media screen and (min-width: 992px) {
    .container {
      padding: 0 7%; } }
  @media screen and (min-width: 1200px) {
    .container {
      padding: 0 10%; } }

.card {
  border: none !important; }

.card .main-card {
  float: left; }

.card-body {
  text-align: center;
  background-color: #99A1AE;
  border-radius: 2px;
  box-shadow: 0px 0px 8px;
  transition-duration: 0.4s; }
  @media screen and (max-width: 450px) {
    .card-body {
      padding: 10px;
      text-align: center; } }

.card-body p.card-p-text {
  line-height: 1.5em;
  font-size: 1em !important; }
  @media screen and (max-width: 450px) {
    .card-body p.card-p-text {
      font-size: 0.8em !important; } }

.card-body p.card-p-text-project-about {
  font-size: 1.2em !important; }
  @media screen and (max-width: 450px) {
    .card-body p.card-p-text-project-about {
      font-size: 1em !important; } }

.card-body.tech-icons {
  padding: 20px 0; }

.stack-icons {
  padding: 0 2em; }
  @media screen and (max-width: 450px) {
    .stack-icons {
      padding: 0; } }
  @media screen and (max-width: 450px) and (max-width: 350px) {
    .stack-icons {
      padding: 0; } }

.foot {
  color: #CDD4D9;
  padding: 15px;
  width: 100%;
  position: absolute;
  height: 60px; }
  @media screen and (max-width: 768px) {
    .foot {
      position: absolute;
      height: 100px; } }

.foot .social-icons {
  float: right; }

.my-image-sm {
  width: 30px;
  color: #ffffff; }

.foot i.fa {
  color: #99A1AE;
  padding: 2px;
  margin-left: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s; }
  .foot i.fa:hover {
    color: #6f7a8c; }

@media screen and (max-width: 769px) {
  .foot {
    text-align: center; }

  .foot i.fa {
    float: none; }

  .foot .social-icons {
    float: none;
    margin-top: 10px; } }
.my-btn {
  background-color: #99A1AE;
  color: #ffffff;
  float: right;
  margin-top: 30px;
  border-color: #99A1AE; }
  .my-btn:hover {
    background-color: #646d7d;
    border-color: #99A1AE; }
  @media screen and (max-width: 992px) {
    .my-btn {
      width: 100%;
      margin-top: 0px; } }

.btn-dark-grey, .github-btn {
  background-color: #586075;
  color: #ffffff;
  border-color: #586075; }
  .btn-dark-grey:hover, .github-btn:hover {
    background-color: #2c303b;
    border-color: #586075;
    color: #ffffff; }
  @media screen and (max-width: 992px) {
    .btn-dark-grey, .github-btn {
      width: 100%;
      margin-top: 10px; } }

.err {
  color: #ff5050;
  float: right; }
  @media screen and (max-width: 992px) {
    .err {
      float: none;
      margin-left: 20px; } }
  @media screen and (max-width: 450px) {
    .err {
      display: block;
      margin: auto; } }

.alert {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  text-align: center; }

.alert.alert-success {
  background-color: #66cc99; }

.alert.alert-danger {
  background-color: #ff5050; }

.type-writter-text {
  border-right: 0.15em solid #000000;
  letter-spacing: .10em;
  animation: typing 5.5s, blink-caret .75s infinite; }

.showcase-text h1 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #586075; } }
.livePic .csunPicture {
  animation-duration: 3s; }

.csunPicture {
  width: 15%; }
  @media screen and (max-width: 992px) {
    .csunPicture {
      width: 20%; } }
  @media screen and (max-width: 768px) {
    .csunPicture {
      width: 25%; } }

.upsellPicture {
  border-radius: 15%;
  width: 30%; }
  @media screen and (max-width: 576px) {
    .upsellPicture {
      width: 40%; } }

.smlivePicture {
  width: 100px;
  float: right; }
  @media screen and (max-width: 576px) {
    .smlivePicture {
      float: none;
      margin: 0 auto; } }

@media screen and (max-width: 768px) {
  .me-sm-img {
    text-align: center; } }
@media screen and (max-width: 1200px) {
  .livePicture {
    text-align: center;
    margin-top: 20px; } }
.devicon {
  font-size: 80px;
  margin: 0; }
  @media screen and (max-width: 576px) {
    .devicon {
      padding: 0 5px; } }

[class*=" devicon-"], [class^=devicon-] {
  line-height: 1.2; }

.devicon-html5-plain-wordmark.colored, .devicon-html5-plain.colored {
  margin-bottom: 20px; }

.projectPic {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 20px; }
  @media screen and (max-width: 768px) {
    .projectPic {
      width: 100%; } }

.levelPic {
  width: 94%; }
  @media screen and (max-width: 992px) {
    .levelPic {
      width: 90%; } }
  @media screen and (max-width: 768px) {
    .levelPic {
      width: 100%; } }

.keyboardPic {
  width: 100%;
  box-shadow: 0 0 20px; }

/*# sourceMappingURL=app.css.map */
