@import url("https://fonts.googleapis.com/css?family=Kreon");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat");
body {
  font-family: "Montserrat", "Inconsolata";
  background-color: #586075;
  margin: 0;
  padding: 0; }

.form-control {
  background-color: #CDD4D9; }

.form-control:focus {
  background-color: #99A1AE;
  color: #000000;
  border-color: #ffffff; }

.form-group label {
  color: #99A1AE; }

.show-case {
  background: url("../assets/IMG/keyboard.jpeg");
  padding-bottom: 350px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }
  @media screen and (max-width: 992px) {
    .show-case {
      padding-bottom: 200px; } }
  @media screen and (max-width: 576px) {
    .show-case {
      padding-bottom: 50%; } }

.showcase-text {
  margin: 20px;
  text-align: center !important;
  margin-top: 170px; }
  @media screen and (max-width: 576px) {
    .showcase-text {
      margin-top: 120px; } }
  .showcase-text h1 {
    margin: 0 5%;
    border-radius: 5px;
    font-weight: bolder;
    color: #e6e6e6;
    background: rgba(79, 87, 89, 0.5); }
    @media screen and (max-width: 992px) {
      .showcase-text h1 {
        margin: 0; } }
    @media screen and (max-width: 576px) {
      .showcase-text h1 {
        font-size: 35px; } }

.section-header {
  font-size: 30px;
  margin-left: 20px;
  color: #CDD4D9; }
  @media screen and (max-width: 768px) {
    .section-header {
      text-align: center;
      margin-left: 0; } }

.section-sm-header {
  font-size: 20px; }

@media screen and (max-width: 992px) {
  .about-me {
    float: none;
    text-align: center; } }
.about-us-content {
  line-height: 40px;
  font-size: 20px; }

.my-image {
  width: 75px;
  margin-left: 10px; }

.navbar {
  background-color: #99A1AE;
  padding: 0; }

.navbar-toggler {
  background-color: none;
  border: none;
  margin-right: 10px; }

.nav-link {
  cursor: pointer; }

.toggle {
  font-size: 40px; }

.fa.fa.bars {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition-duration: 0.4s; }

.rotate90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition-duration: 0.4s; }

.unRotate90 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition-duration: 0.4s; }

.navbar-name {
  font-family: "Kreon";
  font-size: 30px; }

.navbar-nav {
  margin-right: 10px; }

.navbar-nav li {
  float: right;
  font-family: "Montserrat", "Inconsolata";
  font-size: 20px; }
  .navbar-nav li a {
    color: #586075;
    border-bottom: 4px solid #99A1AE;
    padding-bottom: 10px;
    transition-duration: 0.4s; }
    .navbar-nav li a:hover {
      font-weight: 10px;
      color: #586075;
      border-bottom: 4px solid #586075; }

@media screen and (max-width: 992px) {
  .navbar-nav li {
    text-align: center; }
    .navbar-nav li a {
      padding-bottom: 10px; }

  .navbar-nav {
    margin-right: 0px; } }
@media screen and (max-width: 576px) {
  .my-image {
    width: 35px; }

  .toggle {
    font-size: 25px; }

  .navbar-name {
    font-size: 25px; } }
.container-fluid {
  margin: 0;
  padding-top: 4%;
  padding-bottom: 4%;
  padding: 0;
  overflow: hidden; }

.card .main-card {
  float: left; }

.card-body {
  text-align: center;
  background-color: #99A1AE;
  border-radius: none;
  box-shadow: 0px 0px 20px; }

.foot {
  color: #CDD4D9;
  padding: 15px;
  bottom: 0;
  width: 100%; }

.foot .social-icons {
  float: right; }

.my-image-sm {
  width: 30px;
  color: #ffffff; }

.foot i.fa {
  color: #99A1AE;
  padding: 2px;
  margin-left: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s; }
  .foot i.fa:hover {
    color: #6f7a8c; }

@media screen and (max-width: 769px) {
  .foot {
    text-align: center; }

  .foot i.fa {
    float: none; }

  .foot .social-icons {
    float: none;
    margin-top: 10px; } }
.my-btn {
  background-color: #99A1AE;
  color: #ffffff;
  float: right;
  margin-top: 40px;
  border-color: #99A1AE; }
  .my-btn:hover {
    background-color: #646d7d;
    border-color: #99A1AE; }
  @media screen and (max-width: 992px) {
    .my-btn {
      width: 100%;
      margin-top: 0px; } }

.btn-dark-grey, .github-btn {
  background-color: #586075;
  color: #ffffff;
  float: right;
  border-color: #586075; }
  .btn-dark-grey:hover, .github-btn:hover {
    background-color: #2c303b;
    border-color: #586075; }
  @media screen and (max-width: 992px) {
    .btn-dark-grey, .github-btn {
      width: 100%;
      margin-top: 10px; } }

.github-btn {
  float: left; }

.err {
  color: #ff5050;
  float: right; }
  @media screen and (max-width: 992px) {
    .err {
      float: none;
      margin-left: 20px; } }

.alert {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  text-align: center; }

.alert.alert-success {
  background-color: #66cc99; }

.alert.alert-danger {
  background-color: #66cc99; }

.type-writter-text {
  overflow: hidden;
  border-right: 0.15em solid #000000;
  letter-spacing: .10em;
  animation: typing 5.5s, blink-caret .75s infinite; }

.showcase-text h1 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #586075; } }
.livePicture {
  width: 235px;
  border-radius: 5px;
  box-shadow: 0 0 20px; }

@media screen and (max-width: 992px) {
  .livePicture {
    text-align: center;
    margin-top: 20px; } }
.devicon {
  font-size: 90px;
  padding: 0 5px 0 5px; }
  @media screen and (max-width: 768px) {
    .devicon {
      padding-bottom: 15%; } }

.pokemonPic, .levelPic, .meteorPic {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 20px; }
  @media screen and (max-width: 768px) {
    .pokemonPic, .levelPic, .meteorPic {
      width: 100%; } }

.levelPic {
  width: 94%; }
  @media screen and (max-width: 992px) {
    .levelPic {
      width: 90%; } }
  @media screen and (max-width: 768px) {
    .levelPic {
      width: 100%; } }

.keyboardPic {
  width: 100%;
  box-shadow: 0 0 20px; }

/*# sourceMappingURL=app.css.map */
