@import url("https://fonts.googleapis.com/css?family=Kreon");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat");
body {
  font-family: "Montserrat", "Inconsolata";
  background-color: #586075;
  margin: 0;
  padding: 0; }

.form-control {
  background-color: #CDD4D9;
  border: #586075; }

.form-control:focus {
  background-color: #99A1AE;
  color: #000000;
  border: #586075; }

.form-group label {
  color: #99A1AE; }

.section-header {
  font-size: 30px;
  color: #CDD4D9; }
  @media screen and (max-width: 769px) {
    .section-header {
      text-align: center; } }

.section-sm-header {
  font-size: 20px; }

.livePicture {
  width: 235px;
  border-radius: 5px;
  box-shadow: 0 0 20px; }

@media screen and (max-width: 990px) {
  .livePicture {
    text-align: center;
    margin-top: 20px; } }
@media screen and (max-width: 990px) {
  .aboutUs {
    float: none;
    text-align: center; } }
.section-header {
  margin-left: 20px; }

.about-us-content {
  line-height: 40px;
  font-size: 20px; }

.devicon {
  font-size: 90px;
  padding: 0 15px 0 15px; }

.pokemonPic, .ztechPic, .meteorPic {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 20px; }

.keyboardPic {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 20px; }

.my-image {
  width: 75px;
  margin-left: 10px; }

.navbar {
  background-color: #CDD4D9;
  padding: 0; }

.navbar-toggler {
  background-color: none;
  border: none;
  margin-right: 10px; }

.menuBars {
  width: 40px; }

.rotate90 {
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  transition-duration: 0.4s; }

.navbar-name {
  font-family: "Kreon";
  font-size: 30px; }

.navbar-nav {
  margin-right: 10px; }

.navbar-nav li {
  float: right;
  font-family: "Montserrat", "Inconsolata";
  font-size: 20px; }
  .navbar-nav li a {
    color: #586075;
    border-bottom: 4px solid #99A1AE;
    padding-bottom: 10px;
    transition-duration: 0.4s; }
    .navbar-nav li a:hover {
      font-weight: 10px;
      color: #586075;
      border-bottom: 4px solid #586075; }

@media screen and (max-width: 990px) {
  .navbar-nav li {
    text-align: center; }
    .navbar-nav li a {
      padding-bottom: 10px; }

  .navbar-nav {
    margin-right: 0px; } }
.card .main-card {
  float: left; }

.card-body {
  text-align: center;
  background-color: #99A1AE;
  border-radius: none;
  box-shadow: 0px 0px 20px; }

.foot {
  color: #CDD4D9;
  padding: 15px;
  bottom: 0;
  width: 100%; }

.foot .social-icons {
  float: right; }

.foot i.fa {
  background-color: #99A1AE;
  color: #000000;
  padding: 5px;
  margin-left: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s; }
  .foot i.fa:hover {
    background-color: #7d8797; }

@media screen and (max-width: 769px) {
  .foot {
    text-align: center; }

  .foot i.fa {
    float: none; }

  .foot .social-icons {
    float: none;
    margin-top: 20px; } }
.my-btn {
  background-color: #99A1AE;
  color: #ffffff;
  float: right;
  margin-top: 40px;
  border-color: #99A1AE; }
  .my-btn:hover {
    background-color: #646d7d;
    border-color: #99A1AE; }
  @media screen and (max-width: 990px) {
    .my-btn {
      width: 100%;
      margin-top: 0px; } }

.btn-dark-grey {
  background-color: #586075;
  color: #ffffff;
  float: right;
  border-color: #586075; }
  .btn-dark-grey:hover {
    background-color: #2c303b;
    border-color: #586075; }
  @media screen and (max-width: 990px) {
    .btn-dark-grey {
      width: 100%;
      margin-top: 0px; } }

/*# sourceMappingURL=app.css.map */
