body
    font-family: $main-font 
    background-color: $dark-grey
    margin: 0
    padding: 0  
.form-control
    background-color: $light-grey
    border: $dark-grey

.form-control:focus
    background-color: $grey
    color: $black
    border: $dark-grey

.form-group label
    color: $grey
.section-header
    font-size: 30px
    color: $light-grey
    // border: 2px soild $light-grey

.section-sm-header
    font-size: 20px

.livePicture
    width: 235px
    border-radius: 5px
    box-shadow: 0 0 20px 

.ShowCase
    background-size: cover

@media screen and (max-width:990px)
    .aboutUs
        float: none
        text-align: center

.section-header
    margin-left: 20px 

.about-us-content
    line-height: 40px
    font-size: 20px

.devicon 
    font-size: 90px
    padding: 0 15px 0 15px

.pokemonPic, .ztechPic
    width: 450px
    border-radius: 15px 
    box-shadow: 0 0 20px

// .ztechPic
//     width: 435px

    
    

