html 
    min-height: 100%
    position: relative

body
    font-family: $main-font 
    background-color: $dark-grey
    margin: 0
    margin-bottom: 60px
    padding: 0 

// disables bootstrap outline color for input fields
input[type="text"], textarea 
    outline: none
    box-shadow: none !important
    border: 1px solid #ccc

    
.form-control
    background-color: $light-grey

.form-control:focus
    background-color: $grey
    color: $black
    border-color: $white 

.form-group label
    color: $grey

.show-case
    background: url("../assets/IMG/keyboard.jpeg")no-repeat
    padding-bottom: 50%
    background-size: cover
    background-attachment: fixed
    background-position: center
    position: relative

    @media screen and (max-width:$lg-break-point)
        padding-bottom: 550px
    @media screen and (max-width:$md-break-point)
        padding-bottom: 560px
    @media screen and (max-width:$sm-break-point)
        padding-bottom: 580px
    @media screen and (max-width:$xs-break-point)
        padding-bottom: 600px

.showcase-text
    position: absolute
    top: 0
    bottom: 0 
    right: 0
    left: 0
    margin: 20px
    margin-top: 10%
    @media screen and (max-width:$lg-break-point)
        margin: 30px
        margin-top: 10%

    @media screen and (max-width:$sm-break-point)
        margin-top: 20% 
    h1
        margin: 0 10%
        border-radius: 5px 
        font-weight: bolder
        color: #e6e6e6
        background: rgba(79, 87, 89, 0.5)
        @media screen and (max-width:$lg-break-point)
            margin: 0   
        @media screen and (max-width:$sm-break-point)
            font-size: 35px


.section-header
    font-size: 30px
    margin-left: 20px 
    color: $light-grey
    @media screen and (max-width:$md-break-point)
        text-align: center
        margin-left: 0 

.section-sm-header
    font-size: 20px

@media screen and (max-width:$lg-break-point)
    .about-me
        float: none
        text-align: center

.about-us-content
    line-height: 60px
    font-size: 20px
    @media screen and (max-width:$lg-break-point)
        line-height: 40px

.contact-social .contactSocialLink i.fa
    color: $dark-grey
    transition-duration: .4s

.contact-social .conntectSocialText
    color: $dark-grey
    transition-duration: .4s

.contact-social .contactSocialLink   
    text-decoration: none
    color: $black
    &:hover
        .card-body
            background-color: darken($grey, 7%)
        i.fa, .conntectSocialText
            color: darken($dark-grey, 15%)

.contactSocialLink .card-body
    box-shadow: 0px 0px 5px

.stack-icons i 
    margin: 25px

// character counter color
.characterCount
    color: $light-grey
    float: right

//fixes animation from producing white space   
.contact 
    overflow: hidden