body
    font-family: $main-font 
    background-color: $dark-grey
    margin: 0
    padding: 0  
.form-control
    background-color: $light-grey
    border: $dark-grey

.form-control:focus
    background-color: $grey
    color: $black
    border: $dark-grey

.form-group label
    color: $grey
.section-header
    font-size: 30px
    color: $light-grey
    // border: 2px soild $light-grey
    @media screen and (max-width:769px)
        text-align: center

.section-sm-header
    font-size: 20px

.livePicture
    width: 235px
    border-radius: 5px
    box-shadow: 0 0 20px
@media screen and (max-width:990px)
    .livePicture
        text-align: center
        margin-top: 20px



// .show-case
//     background: url("/assets/IMG/keyboard.jpeg")
//     background-size: cover
//     padding: 150px


@media screen and (max-width:990px)
    .aboutUs
        float: none
        text-align: center

.section-header
    margin-left: 20px 

.about-us-content
    line-height: 40px
    font-size: 20px

.devicon 
    font-size: 90px
    padding: 0 15px 0 15px

.pokemonPic, .ztechPic, .meteorPic
    width: 90%
    border-radius: 5px 
    box-shadow: 0 0 20px

// .ztechPic
//     width: 435px

.keyboardPic
    width: 100%
    border-radius: 5px 
    box-shadow: 0 0 20px

    
    

