.container-fluid 
    margin: 0
    padding-top: 4%
    padding-bottom: 4%
    padding: 0
    overflow: hidden

// .row 
//     margin: 0
 
// section.contact, section.showCase 
//     margin: 60px

// .about-us-content
//     margin: 20px

// .aboutUs
//     margin: 0
//     padding: 0

    // bootstrap-stock container
    //     width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    // margin-right: auto;
    // margin-left: auto;

