.my-image
    width: 75px
    margin-left: 10px 


.navbar
    background-color: $grey
    padding: 0


.navbar-toggler
    background-color: none
    border: none
    margin-right: 10px

.nav-link
    cursor: pointer

.toggle
    font-size: 40px

.fa.fa.bars
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
    transition-duration: 0.4s

.rotate90
    -webkit-transform: rotate(90deg)
    transform: rotate(90deg)
    transition-duration: 0.4s

.unRotate90
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
    transition-duration: 0.4s

.navbar-name
    font-family: $name-head
    font-size: 30px

.navbar-nav 
    margin-right: 10px


.navbar-nav li
    float: right
    font-family: $main-font
    font-size: 20px
    a
        color: $dark-grey
        border-bottom: 4px solid $grey
        padding-bottom: 10px
        transition-duration: 0.4s
        
        &:hover
            font-weight: 10px
            color: $dark-grey
            border-bottom: 4px solid $dark-grey

@media screen and (max-width:$lg-break-point)
    .navbar-nav li
        text-align: center
        a
            padding-bottom: 10px
    .navbar-nav 
        margin-right: 0px

@media screen and (max-width:$sm-break-point)
    .my-image
        width: 35px

    .toggle
        font-size: 25px
    .navbar-name
        font-size: 25px
    