.my-btn
    background-color: $grey
    color: $white
    float: right
    margin-top: 30px 
    border-color: $grey
    &:hover
        background-color: darken($grey, 20%)
        border-color: $grey
    @media screen and (max-width:$lg-break-point)
        width: 100%
        margin-top: 0px

.btn-dark-grey, .github-btn
    background-color: $dark-grey
    color: $white
    border-color: $dark-grey

    &:hover
        background-color: darken($dark-grey, 20%)
        border-color: $dark-grey
        color: $white

    @media screen and (max-width:$lg-break-point)
        width: 100%
        margin-top: 10px
