.livePicture
    width: 235px
    border-radius: 5px
    box-shadow: 0 0 20px
@media screen and (max-width:$lg-break-point)
    .livePicture
        text-align: center
        margin-top: 20px
        
.devicon 
    font-size: 90px
    padding: 0 5px 0 5px
    @media screen and (max-width:$md-break-point)
        padding-bottom: 15%

.pokemonPic, .levelPic, .meteorPic
    width: 90%
    border-radius: 5px 
    box-shadow: 0 0 20px

.levelPic
    width: 94%
    @media screen and (max-width:$lg-break-point)
        width: 90%


.keyboardPic
    width: 100% 
    box-shadow: 0 0 20px