.csunPicture
    width: 15%
    @media screen and (max-width:$lg-break-point)
        width: 20%
    @media screen and (max-width:$md-break-point)
        width: 25%

.upsellPicture
    border-radius: 15%
    width: 30%
    @media screen and (max-width:$sm-break-point)
        width: 40%

.smlivePicture
    width: 100px
    float: right
    @media screen and (max-width:$sm-break-point)
        float: none
        margin:  0 auto

@media screen and (max-width:$md-break-point)
    .me-sm-img
        text-align: center
@media screen and (max-width:$xl-break-point)
    .livePicture
        text-align: center
        margin-top: 20px
        
.devicon 
    font-size: 80px
    margin: 0
    @media screen and (max-width:$sm-break-point)
        padding: 0 5px

[class*=" devicon-"], [class^=devicon-]
    line-height: 1.2

.devicon-html5-plain-wordmark.colored, .devicon-html5-plain.colored
    margin-bottom: 20px


.projectPic
    width: 100%
    border-radius: 5px 
    box-shadow: 0 0 20px
    @media screen and (max-width:$md-break-point)
        width: 100%

.levelPic
    width: 94%
    @media screen and (max-width:$lg-break-point)
        width: 90%
    @media screen and (max-width:$md-break-point)
        width: 100%


.keyboardPic
    width: 100% 
    box-shadow: 0 0 20px